<%- include ('./partials/navbar-patient') %>
    <div class="card" style="padding-left: 5px;">
        <h1 class="mt-4">Welcome</h1>
        <p class="lead mb-3">You have logged in as a patient</p>

    </div>