<%- include ('./partials/navbar-patient') %>
    <div class="card" style="padding-left: 5px;">
        <h1 class="mt-4">Patient Lists</h1>
        <p class="lead mb-3">Welcome <%= name %>, here's available information for you</p>

    </div>