<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">

            <h2>
                Select Your Unit
            </h2>

            <%- include ("./messages") %>
                <form action="/api/users/<%= user.id %>" method="POST">
                    <select class="form-select form-select-lg mb-3" name="unit" id="unit"
                        aria-label=".form-select-lg example">
                        <% units.forEach(function(unit){ %>
                            <option value="<%= unit.id %>">Team <%= unit.name %>
                            </option>
                            <% }); %>
                    </select>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
        </div>
    </div>
</div>