<h1 class="mt-4">Patient Lists</h1>
<p class="lead mb-3">Welcome <%= name %> from Team <%= unit %></p>
<a href="/patients/create" class="btn btn-secondary">Create<i class="fas fa-user-plus" style="margin-left:5px"></i></a>